body {
  width: 3508px;
  height: 2480px;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 3508px;
  height: 2480px;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ffffff;
}

.upper_logo_band {
  position: relative;
  top: 0px;
  width: 3508px;
  height: 137px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.certificate_body {
  width: 3508px;
  height: 2206px;
  background: url("./assets/certificate-bg.png") no-repeat center center;
  background-size: cover;
}

.lower_logo_band {
  position: relative;
  bottom: 0px;
  width: 3508px;
  height: 137px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 877px;
  height: 137px;
  object-fit: contain;
}

.name {
  font-size: 80px;
  font-family: "Brush Script MT", cursive;
  margin: 20px 0;
  display: inline-block;
  padding-bottom: 5px;
  position: absolute;
  top: 1200px;
  left: 50%;
  transform: translate(-50%, 0%);
  text-transform: capitalize;
  letter-spacing: 8px;
  color: #886229;
}

.text {
  font-size: 60px;
  margin: 30px auto;
  width: 52%;
  line-height: 1.6;
  text-align: center;
  position: absolute;
  top: 1405px;
  transform: translate(47%, 0px);
}

.qr_code_place_holder {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  background-color: rgb(43, 43, 43);
  position: absolute;
  top: 1850px;
  right: 890px;
}
