<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="certificate.css" />
  </head>
  <body>
    <div class="wrapper">
      <div class="upper_logo_band">
        <img class="logo" src="./assets/1.png" alt="Logo" />
        <img class="logo" src="./assets/2.png" alt="Logo" />
        <img class="logo" src="./assets/3.png" alt="Logo" />
        <img class="logo" src="./assets/4.png" alt="Logo" />
      </div>
      <div class="certificate_body">
        <div class="name">{{USER_NAME}}</div>
        <div class="text">
          This is to certify that <strong>{{USER_NAME}}</strong> has
          successfully completed the course "<strong>{{COURSE_TITLE}}</strong>"
          on <strong>{{DATE}}</strong> with a final score of
          <strong>{{SCORE}}%</strong>. We recognize their dedication and
          commendable performance!
        </div>
        <div class="qr_code_place_holder">
          <img src="{{QR_CODE}}" alt="QR Code" width="300" height="300" />
        </div>
      </div>
      <div class="lower_logo_band">
        <img class="logo" src="./assets/5.png" alt="Logo" />
        <img class="logo" src="./assets/6.png" alt="Logo" />
      </div>
    </div>
  </body>
</html>
